<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"
          integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/base-min.css">

    <title>E-dama</title>
</head>
<body>
<div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="/" class="pure-menu-link">输入牌谱</a></li>
        <li class="pure-menu-item"><a href="/record" class="pure-menu-link">查看结果</a></li>
        <li class="pure-menu-item"><a href="/queryList" class="pure-menu-link">任务队列</a></li>
        <li class="pure-menu-item"><a href="/failList" class="pure-menu-link">失败任务</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">bug report</a></li>
    </ul>
</div>
本Demo基于<a href="https://github.com/Ledenel/auto-white-reimu">Ledenel/auto-white-reimu</a>开发<br>
牌谱分析结果方面寻求帮助或反馈BUG请前往<a
        href="https://github.com/Ledenel/auto-white-reimu/issues">Ledenel/auto-white-reimu/issues</a><br>
网站逻辑错误请前往<a
        href="https://github.com/canuse/E-dama/issues">canuse/E-dama/issues</a>反馈<br>
网站卡顿，分析等待时间太长，界面太丑等问题推荐使用单机版程序替代，你可以在<a href="https://github.com/canuse/E-dama/releases">这里</a>找到适合的程序，并在<a
        href="https://github.com/canuse/E-dama">这里</a>找到关于如何运行的帮助。
<h3>1C1G的DEMO 不要压测！ 不要压测！ 不要压测！</h3>
</body>
</html>