<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>E-White-Reimu Web</title>
</head>
<body>
查询日志成功，该对局中共有以下几个用户：<br>
<ul>
{% for user in userList %}
    <li> {{user}} <br></li>
{% endfor %}
</ul>
选择一个用户继续 <br>
<form method="post" action="/uploadUsername/">
    {% csrf_token %}
    <input type="hidden" readonly="readonly" value="{{ URL }}" name="logURL"/>
    <select name="select_value">
        {% for value in usernameList %}
            <option value="{{ value }}">{{ value }}</option>
        {% endfor %}}
    </select>
    <input type="submit" value="测试"/>
</form>

</body>
</html>